@model oop_CA.Models.MarkViewModel;

<h1>Index</h1>
@if ((string)ViewData["Teacher"] == "OK")
{
    <p>
        <a asp-action="Add">Mark a student</a>
    </p>
}

<div>
    <div>Student info:</div>
    <a>Highest mark: @Html.DisplayFor(model => model.bestMark)</a>
    <br />
    <a>Lowest mark: @Html.DisplayFor(model => model.worstMark)</a>
    <br />
    <a>Global average: @Html.DisplayFor(model => model.average)</a>
    <br />
    <br />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Subject
            </th>
            <th>
                Teacher Comment
            </th>
            <th>
                Coefficient
            </th>
            <th>
                Value
            </th>
            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.allMarks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.subject)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.teacherComment)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.coefficient)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.value)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.date)
                </td>
                @if (((string)ViewData["Admin"] == "OK") || ((string)ViewData["Teacher"] == "OK"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.id">Details</a>
                        <a asp-action="Remove" asp-route-id="@item.id">Remove</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
