@model IEnumerable<oop_CA.Models.Mark>;

<h1>Index</h1>
@if ((string)ViewData["Teacher"] == "OK")
{
<p>
    <a asp-action="Add">Mark a student</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teacherComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.coefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.subject)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.teacherComment)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.coefficient)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.value)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
