@model oop_CA.Models.CourseModel;

<h1>TimeTable</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                MONDAY
            </th>
            <th>
                TUESDAY
            </th>
            <th>
                WEDNESDAY
            </th>
            <th>
                THURSDAY
            </th>
            <th>
                FRIDAY
            </th>
            <th>
                SATURDAY
            </th>
            <th>
                SUNDAY
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 8; i < 13; i++)
        {
            <tr>
                <td>
                    @i AM
                </td>
                <td>
                    @foreach (Course c in @Model.monday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model.tuesday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model.wednesday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model.thursday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model.friday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model.saturday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model.sunday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
            </tr>
        }

        @for (int i = 1; i < 7; i++)
        {
            <tr>
                <td>
                    @i PM
                </td>
                <td>
                    @foreach (Course c in @Model.monday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model.tuesday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model.wednesday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model.thursday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model.friday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model.saturday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model.sunday)
                    {
                        @if (c.beginHour.Equals(i))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
            </tr>
         }
    </tbody>
</table>




