@model IEnumerable<oop_CA.Models.Course>;

<h1>TimeTable</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                MONDAY
            </th>
            <th>
                TUESDAY
            </th>
            <th>
                WEDNESDAY
            </th>
            <th>
                THURSDAY
            </th>
            <th>
                FRIDAY
            </th>
            <th>
                SATURDAY
            </th>
            <th>
                SUNDAY
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.day)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.subject)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.beginHour)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.endHour)
                </td>
                <td>
                    null
                </td>
            </tr>
        }
    </tbody>
</table>




