@model IEnumerable<oop_CA.Models.Course>;

<h1>TimeTable</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                MONDAY
            </th>
            <th>
                TUESDAY
            </th>
            <th>
                WEDNESDAY
            </th>
            <th>
                THURSDAY
            </th>
            <th>
                FRIDAY
            </th>
            <th>
                SATURDAY
            </th>
            <th>
                SUNDAY
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 8; i < 13; i++)
        {
        <tr>
            <td>
                @i AM
            </td>
            <td>
                @foreach (Course c in @Model)
                {
                    @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.MONDAY))
                    {
                        @Html.DisplayFor(ModelItem => c.subject)
                        @Html.Raw("<br/>");
                        @Html.DisplayFor(ModelItem => c.type)
                    }
                }
            </td>
            <td>
                @foreach (Course c in @Model)
                {
                    @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.TUESDAY))
                    {
                        @Html.DisplayFor(ModelItem => c.subject)
                        @Html.Raw("<br/>");
                        @Html.DisplayFor(ModelItem => c.type)
                    }
                }
            </td>
            <td>
                @foreach (Course c in @Model)
                {
                    @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.WEDNESDAY))
                    {
                        @Html.DisplayFor(ModelItem => c.subject)
                        @Html.Raw("<br/>");
                        @Html.DisplayFor(ModelItem => c.type)
                    }
                }
            </td>
            <td>
                @foreach (Course c in @Model)
                {
                    @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.THURSDAY))
                    {
                        @Html.DisplayFor(ModelItem => c.subject)
                        @Html.Raw("<br/>");
                        @Html.DisplayFor(ModelItem => c.type)
                    }
                }
            </td>
            <td>
                @foreach (Course c in @Model)
                {
                    @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.FRIDAY))
                    {
                        @Html.DisplayFor(ModelItem => c.subject)
                        @Html.Raw("<br/>");
                        @Html.DisplayFor(ModelItem => c.type)
                    }
                }
            </td>
            <td>
                @foreach (Course c in @Model)
                {
                    @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.SATURDAY))
                    {
                        @Html.DisplayFor(ModelItem => c.subject)
                        @Html.Raw("<br/>");
                        @Html.DisplayFor(ModelItem => c.type)
                    }
                }
            </td>
            <td>
                @foreach (Course c in @Model)
                {
                    @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.SUNDAY))
                    {
                        @Html.DisplayFor(ModelItem => c.subject)
                        @Html.Raw("<br/>");
                        @Html.DisplayFor(ModelItem => c.type)
                    }
                }
            </td>
        </tr>
        }

        @for (int i = 1; i < 7; i++)
        {
            <tr>
                <td>
                    @i PM
                </td>
                <td>
                    @foreach (Course c in @Model)
                    {
                        @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.MONDAY))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model)
                    {
                        @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.TUESDAY))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model)
                    {
                        @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.WEDNESDAY))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model)
                    {
                        @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.THURSDAY))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model)
                    {
                        @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.FRIDAY))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model)
                    {
                        @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.SATURDAY))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
                <td>
                    @foreach (Course c in @Model)
                    {
                        @if (c.beginHour.Equals(i) && c.day.Equals(Enumeration.DAY.SUNDAY))
                        {
                            @Html.DisplayFor(ModelItem => c.subject)
                            @Html.Raw("<br/>");
                            @Html.DisplayFor(ModelItem => c.type)
                        }
                    }
                </td>
            </tr>
         }
    </tbody>
</table>




